
body {
    background: linear-gradient(to bottom, #3e5368, #34495e);
    margin: 0;
    font-family: 'Times New Roman', Times, serif; 
    color: #f0f0f0;
    padding: 20px;
    min-height: 100vh;
    border-radius: 10px;
    overflow-x: hidden;
}

body{

    border: 15px solid #ffffff;
    box-sizing: border-box;
    z-index: 9999;

    }


header{
    
     text-align: center;
     padding: 20px 0;
     font-size: 15;
}

.menu {

    display: flex;
    justify-content: center;
    background-color: #fff5f5;
    padding: 10px 0;
    gap: 10px;
    border-radius: 15px;

}

.menu a {

     color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #3f5b77;
    transition: all 0.3s ease;
}

.menu a:hover {
    background-color: #79779c;
    transform: scale(1.1);
}


    

p{

    text-align: center;
    font-size: 20px;
    
}

h2{

    text-align: center;
}

footer {

    position:
    fixed ;   
    bottom: 0;         
    left: 0;
    width: 99%;       
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
  }


.copos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.copo {
    position: absolute;
    top: -2em;
    font-size: 1.8rem;
    color: #fff;
    opacity: 0.9;
    animation: flotar 10s linear infinite;
    text-shadow: 0 0 6px rgba(255,255,255,0.7);
    
    
}

.copo:nth-child(1):nth-child(1) { left: 10%; animation-duration: 12s; }
.copo:nth-child(2) { left: 30%; animation-duration: 9s; }
.copo:nth-child(3) { left: 50%; animation-duration: 11s; }
.copo:nth-child(4) { left: 70%; animation-duration: 10s; }
.copo:nth-child(5) { left: 90%; animation-duration: 13s; }
.copo:nth-child(6) { left: 100%; animation-duration: 14s; }


@keyframes flotar {
    0% { transform: translateY(0) rotate(0deg);}
    100% { transform: translateY(100vh) rotate(360deg);}
}


main {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #fff; 
    border-style: ridge;
}

.hohoho {

    width: 300px;
    height: 0px;
    background: rgb(255, 255, 255);
    position: relative;
    animation: mymove 50s infinite;
    animation-timing-function: linear;
    color: white;
    font-size: 25px;
}

@keyframes mymove {
    from {left: -10px;}
    to {left: 10000px;}
  }

   
